<div id="<%= dom_id physician %>">
 

  <p>
    <strong>Name:</strong>
    <%= physician.name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= physician.email %>
  </p>

  <p>
    <strong>Unique:</strong>
    <%= physician.unique_id %>
  </p>

</div>
