<div id="<%= dom_id patient %>">
  <p>
    <strong>Pateint:</strong>
    <%= patient.pateint_id %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= patient.name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= patient.email %>
  </p>

</div>
